<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPS</title>
</head>
<body>

    <form action="/name" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter Your Name Here">
        <input type="submit" value="Submit">
    </form>

    <form action="/play" method="POST">
        <label for="rock">Rock</label>
        <input type="submit" name="choice" id="rock" value="Rock">
        <label for="paper">Paper</label>
        <input type="submit" name="choice" id="paper" value="Paper">
        <label for="rock">Scissors</label>
        <input type="submit" name="choice" id="scissors" value="Scissors">
    </form>
    
</body>
</html>

font-family: 'Roboto', sans-serif;