<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPS</title>
</head>
<body>

    <%= @play.name %><br>

    <form action="/play" method="post">
        <input type="submit" name="choice" id="rock" value="Rock">
        <input type="submit" name="choice" id="paper" value="Paper">
        <input type="submit" name="choice" id="scissors" value="Scissors">
        <input type="submit" name="choice" id="lizard" value="Lizard">
        <input type="submit" name="choice" id="spock" value="Spock">
    </form>

    <p>You chose <%= @play.choice.to_s %></p>

    <p>The Machine chose <%= @play.machine_choice.to_s %></p>

    <% if @play.draw? %>
        <p>It's a Draw!</p>
    <% elsif @play.lose? %>
        <p>You Lose!</p>
    <% elsif @play.win? %>
        <p>You Win!</p>
    <% end %>

    <form action="/restart" method="post">
        <input type="submit" value="Restart">
    </form>

</body>
</html>